@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&amp;display=swap');

:root{
    --main-color:#2f2721;
    --primary-color:#d3ad7f;
    --black:#13131a;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    
}

.image-container{
    width: 400px;
    height:250px;
}

.image-container img{
       width: 100%;
       height: 100%;

} */
/* section{
    padding: 2rem 7%;
} */
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: 0.1rem solid var(--primary-color);
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover{
    background: #fff6eb;
    color: var(--primary-color);
}
.home {
    min-height: 100vh;
    padding-top: 12rem;
    background: url(natural.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #0b8fb7;
}

.home .row .content {
    flex: 1 1 42rem;
    background: #0110140c;

}

.home .row .image {
    flex: 1 1 42rem;
    padding-top: 10rem;
    text-align: center;
    background-color: aqua;
}

.home .row .image img {
    height: 35rem;
    animation: float linear infinite;
}
@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-7rem);
    }
}

.home .row .content h3 {
    font-size: 6.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: top;
}

.home .image-slider {
    text-align: left;
    padding: 3rem 0;
}

.home .image-slider img {
    height: 9rem;
    margin: 0 .5rem;
    cursor: pointer;
    margin-top: 5rem;
    background-color: azure;
}

.home .image-slider img:hover {
    transform: translateY(-2rem);
}

